@import "partials/mixins";
@import "partials/section";
@import "partials/functions";
@import "partials/palette";
@import "partials/footer";
@import "partials/carrousel";
@import "partials/login";
@import "partials/Afiliados";
@import "partials/cofradia";

// Import bootstrap to set changes
@import "../../node_modules/bootstrap/scss/bootstrap";

////
/// This is the main file scss for Nazarenos Web.
/// It will contain all partials files used with scss.
/// @group Main
/// @author Juan Fco Aguilar
////

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

header{
    padding: 10px 30px;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}